@using LearnAspNetMVC.Models
@model Item


@using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
{
    <img src="@Url.Content(Model.ImagePath)" alt="@Model.Description" class="thumbnail" name="itemIds" id="@Model.Id" />
    <input type="hidden" name="ItemIds" id="@Model.Id" value="@Model.Id" />
    <p>Price : @Model.Price.ToString("c") </p>
    <p>
        <input type="submit" value="Add To Cart" class="btn btn-primary pull-right" />
    </p>
}
