@model IList<LearnAspNetMVC.Models.Category>

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @for(Int16 item = 0;item < Model.Count(); item++)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@Html.HiddenFor(model => Model[item].Id )*@

            <div class="form-group">
                @Html.LabelFor(model => Model[item].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model[item].Name , new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => Model[item].Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => Model[item].isSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => Model[item].isSelected)
                        @Html.ValidationMessageFor(model => Model[item].isSelected, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        }
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
